.login {
  padding: 2rem 3.5rem;
  background-color: var(--color-dark--1);
  min-height: 100vh;
}

@media (max-width: 580px) {
  .login {
    padding: 10px 10px;
  }
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 8rem auto;
}

@media (max-width: 950px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .form {
    padding: 10px 10px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 5px;
  background-color: var(--color-brand--2);
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-dark--0);
}

.signupLink {
  color: var(--color-light--2);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 370px) {
  .signupLink {
    font-size: 0.75rem;
  }
}

.loginFooter {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 370px) {
  .loginFooter {
    flex-direction: column;
    gap: 10px;
  }
}
