::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.product {
  padding: 2rem 3.5rem;
  background-color: var(--color-dark--1);
  min-height: 100vh;
  color: var(--color-light--2);
}

@media (max-width: 500px) {
  .product {
    padding: 10px 10px;
  }
}

.product section {
  margin: 6rem auto;
  gap: 7rem;
  align-items: center;
}

.product h2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.description {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: left;
  text-indent: 50px;
}

@media (max-width: 300px) {
  .description {
    text-indent: 0;
  }
}
